fastapi
uvicorn
python-dotenv
langchain
langchain-huggingface
langgraph
langchain-groq
pinecone-client
sentence-transformers
huggingface_hub
torch==2.6.0+cpu -f https://download.pytorch.org/whl/cpu.html
